{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type="text/css" href="{% static 'css/email_confirm_page.css' %}"/>
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class='col-md-offset-4 col-md-4 email-confirm-page justify-center'>  
            <h2>{% trans "Account Inactive" %}</h2>
            <p>{% trans "This account is inactive." %}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}