{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-offset-3 col-md-6 signup_text'>
                <h1>{% trans "Change Password" %}</h1>
                <br>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class='btn btn-danger btn-lg btn-block btn-margin' 
                    type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}