{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'css/password_reset.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container signup_text justify-center">
    <div class='row'>
        <div class='col-md-offset-4 col-md-4 password-reset-field'>    

            <h2>{% trans "Password Reset" %}</h2>
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. <br/>
                Did not receive an email?
                <a href='#'>Contact Us</a>{% endblocktrans %}
            </p>
        
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}