{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block title %}
    {{ block.super }} - Change Password
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'css/registration_page.css' %}">
{% endblock stylesheets %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-offset-4 col-md-4'>
            <div class='change-password'>
                <p class="h2">{% trans "Change Password" %}</p>
                <br>
                <form method="POST" class="password_change">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class='btn btn-danger btn-block btn-margin' 
                    type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}