{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'css/password_reset.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container signup_text justify-center">
    <div class='row'>
        <div class='col-md-offset-4 col-md-4 password-reset-field'>  
            <h3>{% trans "Change Password" %}</h3>
            <p>{% trans 'Your password is now changed.' %}</p>
            <div class='footnote'>
                <a class="btn btn-success"
                 href="{% url 'homepage' %}">{% trans "Back to Homepage" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}