{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Settings
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'css/profile_page.css' %}"> 
{% endblock stylesheets %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-offset-3 col-md-6'>
            <div class='settings_page'>
                <div class='settings_title'>
                    <p class='h4'>Settings</p>
                </div>
                <div class='profile-picture'>
                    <img class='profile-thumbnail-size' src="{{ user.profile.profile_image.url }}">
                </div>
                <div class='row left-right-padding'>
                    <div class='col-md-offset-2 col-md-8'>
                        <p class='h5'>Username</p>
                            <div class='box'>
                                {{ user.username }}
                            </div>
                        <p class='h5'>Email</p>
                            <div class='box'>
                                {{ user.email }}
                            </div>
                        <p class='h5'>Change Password</p>
                        <a class='btn btn-danger btn-block' href="{% url 'account_change_password' %}">
                            Change Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}