{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Inbox
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'css/msg_detail.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class='row msg-detail-nav-row'>
        {% comment %} {% if message.sender == request.user %}
            {% if message.viewed_by_receiver %}
                <div class='col-xs-3 col-sm-3 col-md-offset-2 col-md-1 status-button'>
                    <button class='btn btn-default btn-block' data-toggle="tooltip" data-placement="left" title="Status: Read">
                        <span class='glyphicon glyphicon-eye-open'></span>
                    </button>
                </div> 
            {% else %}
                <div class='col-xs-3 col-sm-3 col-md-offset-2 col-md-1 status-button'>
                    <button class='btn btn-default' data-toggle="tooltip" data-placement="left" title="Status: Not read">
                        <span class='glyphicon glyphicon-eye-close'></span>
                    </button>
                </div> 
            {% endif %}
            <div class='col-xs-offset-6 col-xs-3 col-sm-offset-6 col-sm-3 col-md-offset-6 col-md-1'>
                <a href="{% url 'dashboard:message_to_trash' pk=message.pk %}" class='btn btn-default btn-block'>
                    <span class='glyphicon glyphicon-trash'></span>
                </a>
            </div>
        {% elif message.receiver == request.user %} {% endcomment %}
            <div class='col-xs-offset-9 col-xs-3 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-1'>
                <a href="{% url 'dashboard:message_to_trash' pk=message.pk %}" class='btn btn-default btn-block'>
                    <span class='glyphicon glyphicon-trash'></span>
                </a>
            </div>
        {% comment %} {% endif %} {% endcomment %}
    </div>
            {% comment %} <div class='col-xs-3 col-sm-3 col-md-1 reply-button'>
                <a href="{% url 'dashboard:message_reply' %}" class='btn btn-default btn-block' 
                data-toggle="tooltip" data-placement="right" title="Reply">
                    <span class='glyphicon glyphicon-envelope'></span>
                </a>
            </div> {% endcomment %}
        {% comment %} {% elif message.receiver == request.user %}
            <div class='col-xs-offset-6 col-xs-3 col-sm-offset-6 col-sm-3 col-md-offset-6 col-md-1 reply-button'>
                <a href="#" class='btn btn-default btn-block' 
                data-toggle="tooltip" data-placement="right" title="Reply">
                    <span class='glyphicon glyphicon-envelope'></span>
                </a>
            </div>  {% endcomment %}
    <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
            <div class='message-detail-page'>
                <p class='msg-subject'>{{ message.subject|title }}</p>
                {% if sender_email.user == request.user %}
                    <p class='msg-sender'>Me 
                        <span class='to-whom'>to {{ message.receiver }}</span>
                    </p>
                    <p class='quest-of-interest'>regarding  
                        <a class='quest-link' href="{% url 'quests:quest_detail' slug=quest.slug %}">
                            "{{ message.related_quest|title }}"
                        </a>
                    </p>
                    <p class='msg-sent-at'>{{ message.send_at|date:"m/d/y G:i" }}</p>
                {% else %}
                    <div class='sender-and-quest'>
                        <img src="{{ sender_profile.image_url }}" class='img-circle sender-profile-img' />
                        <p class='msg-sender'>{{ sender_email.user }}</p>
                        <p class='creator-of'>- Quest Creater of 
                            <a class='quest-link' href="{% url 'quests:quest_detail' slug=quest.slug %}">
                                "{{ message.related_quest|title }}"
                            </a>
                        </p>
                    </div>
                    <p class='msg-sent-at'>{{ message.send_at|date:"m/d/y G:i" }}</p>
                {% endif %}
                <p class='msg-content'>{{ message.content|linebreaks|urlize }}</p>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
            {% for child in children %}
                <div class='message-detail-page'>
                    {% comment %} <p class='msg-subject'>{{ child.subject|title }}</p> {% endcomment %}
                    {% if sender_email.user == request.user %}
                        <p class='msg-sender'>Me 
                            <span class='to-whom'>to {{ child.receiver }}</span>
                        </p>
                        {% comment %} <p class='quest-of-interest'>regarding  
                            <a class='quest-link' href="{% url 'quests:quest_detail' slug=quest.slug %}">
                                "{{ child.related_quest|title }}"
                            </a>
                        </p> {% endcomment %}
                        <p class='msg-sent-at'>{{ child.send_at|date:"m/d/y G:i" }}</p>
                    {% endif %}
                    <p class='msg-content'>{{ child.content|linebreaks|urlize }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr/>
    <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
            {% include "profiles/sent_reply.html" with form=reply_form action_url=create_url %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}

{% block javascript %}
    {{ block.super }}
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock javascript %}