body {
    padding-top: 50px;
}

input[type="text"]:read-only {
    background-color: white;
}

.experience-form-page {
    background-color: #e2e2e2;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#experience-form-input input,
#contact-form input {
    margin-top: 20px;
}

#experience-form-input textarea,
#contact-form textarea {
    margin-top: 20px;
}