body {
    padding-top: 70px;
}

a,
a:hover,
a:focus {
    color: #4375c6;
}

label {
    display: none;
}

.password-reset-field {
    background-color: #e2e2e2;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.password-reset-field input {
    margin-top: 20px;
}

.password-reset-field .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.password-reset-field-change-pwd {
    background-color: #e2e2e2;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 20px;
}