body {
    padding-top: 70px;
}

.bold-title {
    font-weight: bold;
}

.image-margin-top {
    margin-top: 20px;
}

.quest-detail-page {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.right-aligned-buttons {
    float: right;
}