a {
    color: #4375c6;
}

body {
    padding-top: 60px;
}

label {
    display: none;
}

.change-password {
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    padding-top: 10px;
    text-align: center; 
}

.forgot-password-margin {
    margin-top: 10px;
    margin-bottom: 0px;
}

.login-text {
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 20px;
    text-align: center;    
}

.no-margin {
    margin: 0px;
}

.footnote {
    background-color: white;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
}

.signup-text {
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}