{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Your Quests
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- for padding-top -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/profile_page.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <p class='h4'>Quests Posted by {{ user.username }}</p>
            <br/>
        </div>
        <div class='col-md-3 justify-center'>
            <div class='thumbnail'>
                {% with pro_img=profile.profile_image %}
                {% if profile.profile_image %}
                    <img class='image-size image-margin-top' src="{{ pro_img.url }}"/>
                {% endif %}
                {% endwith %}
                <div class='caption'>
                    <h4>{{ user.username }}</h4>
                </div>
            </div>
        </div>
        <div class='col-md-9'>
            <div class='row'>
            {% for quest in user_quests_list %}
            <a href="{{ quest.get_absolute_url }}">
                <div class='col-md-4 justify-center quest-list'>
                    <div class='thumbnail'>
                        <div class='caption'>
                            <h4>{{ quest.title }}</h4>
                            <p>{{ quest.description|truncatewords:50 }}</p>
                            <p>{{ quest.reward_type }}</p>
                            {% if quest.reward_type == "Monetary" %}
                                <p><span class='dollar-color'>$</span> {{ quest.mon_reward }}</p>
                            {% else %}
                                <p>{{ quest.non_mon_rewards }}</p>
                            {% endif %}
                            <p><span class='glyphicon glyphicon-fire red-fire'>
                                </span> {{ quest.explosion_datetime|timeuntil }}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}