<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap %}
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}ExplodingQuest{% endblock title %}
        </title>
        {% block stylesheets %}
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        {% endblock stylesheets %}
    </head>
    <body>
        <!-- Navigation -->
        <nav class='navbar navbar-default navbar-fixed-top'>
            <div class='container'>
                <div class='navbar-header'>
                    <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class='navbar-brand' href="{% url 'homepage' %}">
                         <span class='explosion_color'>Exploding</span><span class='quest'>Quest</span> 
                    </a>
                </div>

                <div id='navbar' class='collapse navbar-collapse'>
                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" id='navbar-searchform' placeholder="Search for...">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                    <span class='glyphicon glyphicon-search'></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <ul class='nav navbar-nav navbar-right'>
                        {% with current_user=request.user %}
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="{% url 'create_quest' %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class='dropdown-menu-icon'>Post a Quest</span>
                            </a>
                        </li>
                        <li class='dropdown'>
                            <a class="dropdown-toggle" role='button'
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class='glyphicon glyphicon-user'></span>
                                <span class='dropdown-menu-icon'>{{ current_user.username|truncatechars:10 }}</span>
                                <span class="caret"></span> 
                            </a>
                            <ul class="dropdown-menu">
                                <li class='dropdown-menu-options'>
                                    <a href="{% url 'user_quest_list' %}">
                                        <span class='glyphicon glyphicon-pushpin'></span>
                                        <span class='dropdown-menu-icon'>My Quests</span>
                                    </a>
                                </li>
                                <li class='dropdown-menu-options'>
                                    <a href="{% url 'user_profile' %}">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span class='dropdown-menu-icon'>Settings</span>
                                    </a>
                                </li>
                                <li class='dropdown-menu-options'>
                                    <button type='button' class='btn' data-toggle="modal" data-target="#logOutModal">
                                        <span class='glyphicon glyphicon-log-out'></span>
                                        <span class='dropdown-menu-icon'>Logout</span>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>   
                            <a href="{% url 'account_login' %}">Login</a> 
                        </li>
                        <li>
                            <a href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        {% endif %}
                        {% endwith %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Logout</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to sign out?</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                        <button class='btn btn-danger btn-lg btn-block btn-margin' type="submit">Logout</button>
                        </form>
                        {% comment %} <button type="button" class="btn btn-primary">Logout</button> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock content %}

        {% block javascript %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/bootstrap.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script> 
            {% comment %} <script>
                $("#myModal").modal('hide');
            </script> {% endcomment %}
        {% endblock javascript %}
    </body>
</html>