{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
    <div class='jumbotron'>
         <div class='container'>
            <p class='h1'>The world is full of quests</p>
            <p class='lead'>Get your quests before they explode!</p>
         </div>
    </div>
    <div class='container'>
        <div class='row'>
            {% for quest in object_list %}
            <a href="{% url 'quest_detail' quest.slug %}">
                <div class='col-md-3 justify-center quest-list'>
                    <div class='thumbnail'>
                        {% for thumbnail in quest.uploads.all %}
                            <img class='image-size' src="{{ thumbnail.image.url }}"/>
                        {% endfor %}
                        <div class='caption'>
                            <h4>{{ quest.title }}</h4>
                            <p>{{ quest.description|truncatewords:15 }}</p>
                            <p><span class='glyphicon glyphicon-usd'></span> {{ quest.rewards }}</p>
                            <p><span class='glyphicon glyphicon-fire red-fire'></span> {{ quest.explosion_date }}</p>
                            <a href="{% url 'quest_detail' quest.slug %}"
                            class="btn btn-primary" role="button">View More</a> 
                        </div>
                    </div>
                </div>
            </a>
            {% empty %}
                <p>No Quest yet</p>
            {% endfor %}
        </div>
    </div>
    <footer class='footer'>
        <div class='container'>
            <p>
                &copy; 2017 ExplodingQuests, Inc.
            </p>
        </div>
    </footer>
{% endblock %}

